{{> header}}
<main>
  <h1>Edit Offer</h1>
  <p class="message"></p>
  <form action="#/edit/{{shoe.id}}" method="post">
    <div>
      <input type="text" name="name" value="{{shoe.name}}" placeholder="Name...">
    </div>
    <div>
      <input type="text" name="price" value="{{shoe.price}}" placeholder="Price...">
    </div>
    <div>
      <input type="text" name="imageURL" value="{{shoe.imageURL}}" placeholder="Image url...">
    </div>
    <div>
      <textarea name="description" placeholder="Give us some description about this offer...">{{shoe.description}}</textarea>
    </div>
    <div>
      <input type="text" name="brand" value="{{shoe.brand}}" placeholder="Brand...">
    </div>
    <div>
      <button>Edit</button>
    </div>
  </form>
</main>
{{> footer}}